body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:taj.jpeg;
}
p{
    color:greenyellow;
}
h1
{
    background-color: aquamarine;
}
